<% if @user && @places %>
  <h1>Your Places</h1>

  <ul>
    <% @places.each do |place| %>
      <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
    <% end %>
  </ul>

  <p>
    <a href="/places/new" class="btn btn-primary">New place</a>
  </p>
<% else %>
  <a href="/login" class="btn btn-primary">Log In</a>
  <a href="/users/new" class="btn btn-secondary">Sign Up</a>
<% end %>

